{% extends "base.html" %}

{% block content %}
Upload a PNG:
<form enctype='multipart/form-data'>
Filename: <input type='file' name='file' id="file"><p>
<input type='submit'>
</form>

<div id="recent_image">

</div>

<script type='text/javascript'>
$(function()
{

    $("form").submit(function(e)
    {	
	var formData = new FormData();
	formData.append('file', $("#file")[0].files[0]);

	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/upload_receive', true);

        xhr.onreadystatechange = function()
        {
            if(xhr.readyState == 4 && xhr.status == 200)
            {
                console.log("uploaded"); 
                $("#recent_image").hide().html("Uploaded image: <br/> <img src='image_raw?special=latest'/>").fadeIn('fast');
            }
        }
        xhr.send(formData);
	e.preventDefault();
    });

});
</script>


{% endblock %}
