{% extends "base.html" %}

{% block content %}

Here is your image:
<p>
<img width=40% src='/image_raw/{{ image_id }}'/>
<br />
<b>Title:</b> <span id="image_name" >{{ image_name }}</span> <br />
<b>Description:</b> <span id="image_description">{{ image_description }}</span>

<br /><br />

<form action='/add_comment/' method='POST'>
<input type='hidden' name='image_id' value={{ image_id }} />
<table>
<tr>
<td>
<textarea name='new_comment' id='new_comment' rows='4' cols='50'>
</textarea>
</td>
<td>
<input type='submit' id='add_comment' value='Add Comment'/>
</form>
</td>
</tr>
</table>
<h4>Comments:</h4>

<ul>
{% for comment in comments %}
   <li> {{ comment[0] }} </li> 
{% endfor %}
</ul>
{% endblock %}
